<br />
<div class="container mt-5">
   <div class="col-6">
      <h2 class="text-info">Book List</h2>
   </div>
   <div class="col-3 offset-4" style=" padding-bottom:15px">
      <a asp-action="Upsert" asp-controller="Books" class="btn btn-info form-control text-white">
         Add new Book
      </a>
   </div>
   <div class="col-12 border p-3">
      <table id="DT_load" class="table table-striped table-bordered " style="width:100%">
         <thead>
            <tr>
               <th>Name</th>
               <th>Author</th>
               <th>ISBN</th>
               <th>Genre</th>
               <th></th>
            </tr>
         </thead>
      </table>
   </div>
</div>

@section Scripts{
   <script src="~/js/BookList.js"></script>
}