@page
@model LoginModel

@{
   ViewData["Title"] = "Log in";
}

<header>
   <link rel="stylesheet" type="text/css" href="~/css/Login.css">
</header>
<html>
<body>
   <h1>@ViewData["Title"]</h1>
   <div class="sidenav">
      <div class="login-main-text">
         <h2>Application<br> Login Page</h2>
         <p>Login or register from here to access.</p>
      </div>
   </div>
   <div class="main">
      <div class="col-md-6 col-sm-12">
         <div class="login-form">
           
            <form id="account" method="post">
               <div asp-validation-summary="All" class="text-danger"></div>
               <div class="form-group">
                  <label asp-for="Input.Email"></label>
                  <input asp-for="Input.Email" class="form-control" />
                  <span asp-validation-for="Input.Email" class="text-danger"></span>
               </div>
               <div class="form-group">
                  <label asp-for="Input.Password"></label>
                  <input asp-for="Input.Password" class="form-control" />
                  <span asp-validation-for="Input.Password" class="text-danger"></span>
               </div>
               <div class="form-group">
                  <div class="checkbox">
                     <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                     </label>
                  </div>
               </div>
               <button type="submit" class="btn btn-black">Login</button>
               <button type="submit" class="btn btn-secondary" asp-page="./Register">Register</button>
            </form>
         </div>
      </div>
   </div>


</body>
</html>

   @section Scripts {
      <partial name="_ValidationScriptsPartial" />
   }
