@page
@model RegisterModel
@{
   ViewData["Title"] = "Register";
}
<br />
<br />
<br />
<!DOCTYPE html>
<html>
<head>
   <title>Register Page</title>
   <link rel="stylesheet" type="text/css" href="~/css/Register.css">
</head>
<body>
   <div class="col-md-4 col-md-offset-4" id="login">
      <section id="inner-wrapper" class="login">
         <article>
            <form>
               <div class="form-group">
                  <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-envelope"> </i></span>
                     <input type="email" class="form-control" placeholder="Email Address">
                  </div>
               </div>
               <div class="form-group">
                  <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-key"> </i></span>
                     <input type="password" class="form-control" placeholder="Password">
                  </div>
               </div>
               <div class="form-group">
                  <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-key"> </i></span>
                     <input type="password" class="form-control" placeholder="Confirm Password">
                  </div>
               </div>
               <button type="submit" class="btn btn-success btn-block">Submit</button>
            </form>
         </article>
      </section>
   </div>
</body>
</html>
<br />
<br />
<br />
@{
   if ((Model.ExternalLogins?.Count ?? 0) == 0)
   {
      <div>
         <p>
            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
            for details on setting up this ASP.NET application to support logging in via external services.
         </p>
      </div>
   }
   else
   {
      <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
         <div>
            <p>
               @foreach (var provider in Model.ExternalLogins)
               {
                  <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
               }
            </p>
         </div>
      </form>
   }
}
  

@section Scripts {
   <partial name="_ValidationScriptsPartial" />
}
